<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <%- include("./partials/head.ejs")  %>
</head>
<body>
    <div class="container">
        <%- include("./partials/nav.ejs")  %>
        <h3>ABOUT PAGE</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, id facilis nostrum dignissimos quidem labore ipsa maxime qui, voluptatibus totam veniam excepturi eaque aliquam cumque recusandae debitis fugit aliquid ipsam eius omnis dolores saepe accusamus ex obcaecati! Nostrum, repudiandae debitis?</p>
    </div>
</body>
</html>